.js-text {
  opacity: 0;
  pointer-events: none;
  transform: translate(-100px, 0);
  transition: opacity .5s ease, transform .5s ease-out;
  &._is-visible {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
  }
}