.content-container {
  display: block;
  position: relative;
  padding: 30px 7%;
  width: 100%;
  transform-style: preserve-3d;
  opacity: 0;
  overflow: hidden;

  p {
    font-weight: 300;
    font-size: 200px;
    color: #ffffff;
    word-break: break-word;
  }

  &.is-visible {
    transition: opacity .5s ease;
    opacity: 1;
  }
}
