body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Butler", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-main);
  background-color: #fff;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  background: none;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  outline: none;

  //&:focus {
  //    outline: auto;
  //}
}

input,
textarea {
  padding: 0;
  border: 0;
  box-shadow: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: var(--green);

  &:hover, &:focus, &:active {
    color: var(--tropical-rain);
  }

  &:focus {
    outline: none;
  }
}

img,
video {
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
