body {
  margin: 0;
  padding:
      env(safe-area-inset-top, 20px)
      env(safe-area-inset-right, 20px)
      env(safe-area-inset-bottom, 20px)
      env(safe-area-inset-left, 20px);

  height: 100vh;
  overflow: hidden;
}


.header, .footer {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 20px 5px;
  box-sizing: border-box;
  background-color: lightblue;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  top: 0;
}

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.footer {
  bottom: 0;
  background-color: lightcoral;
}
