@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler-Light.woff2') format('woff2'),
  url('../fonts/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
     font-family: 'Butler';
     src: url('../fonts/Butler.woff2') format('woff2'),
         url('../fonts/Butler.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
   font-family: 'Butler';
   src: url('../fonts/Butler-Medium.woff2') format('woff2'),
   url('../fonts/Butler-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
 }



